# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
env/

# Flask instance folder
instance/

# Environment variables
.env

# IDE/editor settings
.vscode/
.idea/
*.swp

# Logs
*.log
